<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layouts/default}">	

		<div layout:fragment="contents" 
			class=" d-flex justify-content-center align-items-center text-center">

			<div class="leftpicture">
				<img alt="leftpicture" height="800"
					src="https://cdn.pixabay.com/photo/2014/10/18/20/51/swing-493710_1280.jpg">
			</div>

			<div class="userbox ml-5">
				<header class="text-center">
					<h3 class="">ANDY's PLAYGROUND</h3>
					<br>
					<h5 class="">Meet up friends nearby</h5>
				</header>

				<section class="contents text-center">
					<div>Email address</div>
					<input type="text" placeholder="emailaddress">

					<div>password</div>
					<input type="password" placeholder="password">

					<div>name</div>
					<input type="text" placeholder="name">

					<div>username</div>
					<input type="text" placeholder="username">
					
					<h4 class="text-danger">Oops, This ID may be already in use... try another one</h4>
					
					<div>
						Someone using our service may have uploaded<br> your contact
						information to ANDY’s PlayGround.<br> Learn more
					</div>

					<button type="button" class="btn btn-danger mt-3">Join now</button>

					<h5>Do you have an acccount?</h5>
					<br>
					<h5>Download the app here</h5>
					<div class="d-flex">
						<img class="playstore"> <img class="appstore">
					</div>

				</section>

			</div>

		</div>

</html>