<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/default}">

<div layout:fragment="contents"
	class=" d-flex justify-content-center align-items-center text-center">

	<div class="leftpicture">
		<img alt="leftpicture" height="800"
			src="https://cdn.pixabay.com/photo/2014/10/18/20/51/swing-493710_1280.jpg">
	</div>

	<div class="userbox ml-5">
	
		<header class="text-center">
			<h3 class="">ANDY's PLAYGROUND</h3>
			<br>
			<h5 class="">Meet up friends nearby</h5>
		</header>

		<section class="contents text-center">
			<div>Email address</div>
			<input type="text" id="emailInput" placeholder="emailaddress">

			<div>password</div>
			<input type="password" id="passwordInput" placeholder="password">

			<div>name</div>
			<input type="text" id="nameInput" placeholder="name">

			<div>username</div>
			<input type="text" id="usernameInput" placeholder="username">

			<div>
				Someone using our service may have uploaded<br> your contact
				information to ANDY’s PlayGround.<br> Learn more
			</div>

			<button type="button" class="btn btn-danger mt-3" id="joinBtn">Join now</button>

			<h5>Do you have an acccount?</h5><br>
			
			<h5>Download the app here</h5>
			
			<div class="d-flex">
				<img class="playstore"> <img class="appstore">
			</div>

		</section>

	</div>

</div>

<script layout:fragment="script">
	$("#joinBtn").on("click", function() {
		let email = $("#emailInput").val();
		let password = $("#passwordInput").val();
		let name = $("#nameInput").val();
		let username = $("#usernameInput").val();

		if (email === "") {
			alert("Please Check your email");
			return;
		}

		if (password === "") {
			alert("Please Check your password");
			return;
		}

		if (name === "") {
			alert("Please Check your name");
			return;
		}

		if (username === "") {
			alert("Please Check your username");
			return;
		}

		$.ajax({
			type : "POST",
			url : "/user/join",
			data : {
				email : email,
				password : password,
				name : name,
				username : username
			},
			success : function(response) {
				if (response.result === "success") {
					
					location.href = "/user/login/view";
					
				} else {
					
					alert("Join Failed!");
					
				}
				
			},
			error : function() {
				
				alert("Error Code 500");
				
			}
			
		});
		
	});
</script>
</html>