<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Andy's Play Ground</title>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
<link rel="stylesheet" href="/static/css/style2.css">
</head>

<body>

	<div id="wrap">
	
		<header class="d-flex justify-content-between align-items-center">
			<div class="logo-area display-3 text-danger">My Meet UP</div>
			<div class="logout-area">
				<div>Householder</div>
				<button class="btn btn-secondary form-control">Logout</button>
			</div>
		</header>

		<section class="main">

			<div class="d-flex justify-content-end">
				<button class="btn btn-danger mt-3">Cancel(DELETE)</button>
			</div>

			<div class="title-area display-4 text-danger text-center">MEET
				UP TIMELINE</div>

			<p>★ (Title) Andy’s Drink Party ★</p>

			<div class="content d-flex justify-content-center align-items-center">

				<img class="img-fluid mr-5" alt="Pub Image" 
				src="https://i.namu.wiki/i/6F9XB4YJ_Qw4nERG8HbXe90APjylKrd0NYKVxOeMQ7TEJTuFp41062e5D2KUQm66m38mvWHgEgDo8CWfMRySP3QqVTEc7lWonknYK-4jUm40vJfPQsbdqIyOF6Zd5TIdT8qzDWvY9XEP7V1q6qoq9Q.webp">

				<div class="infomation-area ml-5">
					<p>
						<strong>Party Name :</strong> Andy’s Drink Party(Title)
					</p>
					<p>
						<strong>Householder Name :</strong> Andy(userId)
					</p>
					<p>
						<strong>Contents:</strong>
					</p>
					<p>Where : Andy’s PlayGround</p>
					<p>When : 09.August.2025</p>
					<p>Details : Drinks are welcome : B.Y.O.B</p>

					<button class="like-btn">❤ Wanna Join</button>
					<p>30 people like this meet up group</p>

					<button class="message-btn">☰ Message To the Householder</button>
					<p>userId : nice place i wanna join~</p>

				</div>

			</div>

			<div>The householder you may like</div>

		</section>

		<footer class="d-flex justify-content-center align-items-center">
			<div>Copyright 2025. Andy's Play Ground All rights reserved.</div>
		</footer>
		
	</div>

</body>

</html>