<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Andy's PlayGround</title>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
<link rel="stylesheet" href="/css/style2.css">
</head>
<th:block th:fragment="header">
	<header
		class="d-flex justify-content-between align-items-start px-4 py-3 ">
		<div class="logo-area display-3">My Meet UP</div>
		<div class="logout-area d-flex flex-column align-items-end">
			<div th:if="${session.userId != null}">
				<span th:text="'Welcome ' + ${session.userName} + ' !!!'"></span>
			</div>
			<a href="/post/timeline/view" class="text-danger">MeetUP</a> <a
				href="/user/logout" class="text-danger">logout</a>
		</div>
	</header>
</th:block>
</html>