@charset "UTF-8";

#wrap{
	width:1200px;
	height:800px;
	margin: 0 auto;
}

header{
	background-color: #f9b2b2;
}

.logo-area {
	color: #e83e8c; /* 부트스트랩의 text-danger 와 동일 (빨간색) */
}


.logout-area span {
	color: #ff80c0;
	font-weight: bold;
}

body {
	background-color: #fff;
	font-family: 'Arial', sans-serif;
}

.main {
	max-height: 680px;
	overflow-y: auto;
}

.title-area {
	color: #e83e8c; 
}

.userId{
	color: #e83e8c;
}

.btn-make {
	background-color: #f9b2b2;
	font-weight: 600;
	border: none;
}

footer {
	background-color: #f9b2b2;
	padding: 20px;
	text-align: center;
	font-size: 14px;
	margin-top: 50px;
}