@charset "UTF-8";

#wrap{
	width:1200px;
	margin: 0 auto;
}

header{
	height:200px;
}

logo-area
logout-area

section{
	height:600px;
}

main
title-area
content
contents-area

footer{
	height:200px;
}

