@charset "UTF-8";

#wrap{
	width:1200px;
	height:800px;
	margin: 0 auto;
}

.userbox{
	width:400px;
	height:800px;
}

.contents{
	width:400px;
	height:800px;
}

footer{
	width:400px;
	height:800px;
}
